<html>
<head>
	<title>We are sorry but something went wrong - ActionFramework</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet" type="text/css">
	<style>
		body{
			background-color: black;
			color: white;
			font-family: 'Oswald', sans-serif;
		}
		p{
			font-size: 20px;
		}
	</style>
</head>
<body>	
	<center>
		<img style="height: 300px;" src="http://actionframework.io/rocket.png" />
		<%= yield %>
		<p style="font-size: 14px;">Take a look at the documentation to find out how to change error pages</p> 
		<p>&copy; ActionFramework.io</p>
	</center>
</body>
</html>